* {
    font-family: sans-serif;
}
.color-background-white {
    background-color: white;
}
.color-background-highlight {
    background-color: #83b692;
}
.color-border-highlight {
    border-color: #83b692;
}
.color-background-primary {
    background-color: #f9ada0;
}
.color-foreground-primary {
    color: #f9ada0;
}
.color-background-base {
    /*background-color: #5b3758;*/
    /*background-color: #B285AD;*/
    background-color: #FCFCFC;
}
.card {
    border: 1px solid #000000; /* Thin border */
    border-radius: 10px; /* Rounded edges */
    padding: 20px; /* Space inside the card */
    margin: 10px; /* Space around the card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6); /* Optional: Shadow effect */
}
.card:hover {
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2); /* Optional: Shadow effect */
}
.flex {
    display: flex;
}
.flex-left {
    display: flex;
    justify-content: left;
}
.flex-right {
    display: flex;
    justify-content: right;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 200%;
}
h2 {
    font-size: 150%;
}
h3 {
    font-size: 100%;
}
body {
    /*
     * Remove default page margins for the entire body element.
     */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
nav {
    /*
     * style nav to differentiate it from the rest of the page (at least 2 properties ie. background-color …)
     * make nav a flex parent (set to display flex) and justify the children right
     */
    color: Blue;
    font-style: italic;
    display: flex;
    justify-content: right;
}
nav:visited {
    color: Purple;
}
@keyframes a_hover {
    from {
        color: Blue;
    }
    to {
        color: Purple;
    }
}
a {
    /*
     * style anchor tag  in nav  (at least 2 properties) and a suitable hover state
     */
    text-decoration: none;
}

a:hover {
    /*
     *... suitable hover state
     */
    animation-name: a_hover;
    animation-duration: 1s;
}
footer {
    /*style footer to differentiate it from the rest of the page (at least 2 properties ie. background-color …)
     */
    background-color: white;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: Black;
    /*make footer a flex parent (set to display flex) and justify the children center*/
    display: flex;
    justify-content: center;
    a {
        color: Black;
        text-decoration: none;
    }
}
@media (max-width: 700px) {
    .flex-left {
        flex-direction: column;
    }
}
